.container-fluid{
    background-color: #EFEFEF;
}

.form-area{
    margin: 2rem;
    background: white;
    border-radius: 1.75rem;
    padding: 2rem;
}

.summary-area{
    margin: 2rem;
    background: white;
    border-radius: 1.75rem;
    padding: 2rem;
}

.donation-area{
    margin: 2rem;
    background: white;
    border-radius: 1.75rem;
    padding: 2rem;
}

.date-area{
    border-radius: 1.75rem;
    padding-left: 2rem;
}

.big-stat-area{
    gap: 1rem;
    flex-wrap: nowrap;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    /* background-color: black; */
}

.big-stat{
    /* margin-right: 3.555rem; */
    background: white;
    border-radius: 1.75rem;
    padding: 2rem;
    /* width: 24.5rem; */
}

.table.logaktivitas thead th{
    color: #B5B7C0;
    font-size: 0.8rem;
    font-weight: normal;
}

.table.logaktivitas tbody td{
    color:#292D32;
    font-size: 0.9rem;
}

.table.logaktivitas #date{
    margin: 0;
}

.table.logaktivitas #hours{
    margin: 0;
    font-size: 0.8rem;
}

.circle-icon-area{
    width: 5rem;
}

.circle-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    background-color: #E87B2F;
    opacity: 100%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 0;
}

.circle-icon i{
    color: white;
    font-size: 2rem;
    opacity: 100%;
    /* position: absolute; */
    z-index: 1;
}

.stat{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    /* width: 16.5rem; */
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 17rem;
}

.stat .info .title{
    color:#B5B7C0;
    font-size: 0.9rem;
    margin: 0;
}

.stat .info .value{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: 0;
}

.stat .info .increase{
    color:#E87B2F;
    font-size: 0.8rem;
}

.add-area{
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}

.add-area:hover{
    color: white;
}

.btn:hover{
    color: white;
}

.btn:active{
    color: #E87B2F;
}

.add-area .btn{
    display: flex;
    background-color: #E87B2F;
    width: 12rem;
    height: 2rem;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.75rem;
}

.bar-stat{
    height: 7rem;
    display: flex;
    align-items: flex-end;
}

.bar{
    width: 5rem;
    margin: 0 2rem;
    background-color: linear-gradient(to top, orange 50%, #fff 50%);
    border-radius: 20%;
}

.table.logaktivitas .btn.inprogress{
    background-color: #E87B2F;
    width: 7rem;
    height: 2rem;
    color: white;
    font-size: 0.8rem;
}

.table.logaktivitas .btn.complete{
    background-color: #00B087;
    width: 7rem;
    height: 2rem;
    color: white;
    font-size: 0.8rem;
}

.table.logaktivitas .btn.detail{
    background-color: #E87B2F;
    width: 7rem;
    height: 2rem;
    color: white;
    font-size: 0.8rem;
}

.donation-area .donation-stat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3rem;
    width: 2rem;
    height: 2rem;
    background-color: #0EC698;
    border-radius: 50%;
    border-color: #16C098;
    border: none;
    color: white;
    font-weight: bold;
}

.deny{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: #F79C5C;
    border-radius: 50%;
    border-color: #E87B2F;
    color: white;
    font-weight: bolder;
}

.progress.vertical{
    background-color:rgba(232, 123, 47, 0.2);
    /* display: inline-block; */
    width: 1rem;
    height: 10rem;
    display: flex;
    flex-direction: column-reverse;
    /* -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); */
}

.progress-bar-vertical{
    background-color: #E87B2F;
    width: 1rem;
}

.progress-bar-area{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 10rem;
    /* background-color: #292D32; */
}

.progress-text{
    font-size: 0.75rem;
    color: #B5B7C0;
    padding-top: 1rem;
}

.btn-primary{
    background-color: #E87B2F;
    border-color: #E87B2F;
}

.btn-primary:active{
    background-color: #E87B2F;
    border-color: #E87B2F;
}

.button-area{
    display: flex;
    justify-content: center;
}

.button-area :hover{
    background-color: white;
    color: #E87B2F;
    border-color: #E87B2F;
}

.button-area :active{
    background-color:#E87B2F;
    border-color: #E87B2F;
}
