@font-face {
    font-family: iosFont;
    src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF");
}

:root {
    --primary-color: 232, 123, 47;
    --dark-color: 81, 76, 67;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.store.container {
    padding-top: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-title p {
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(var(--primary-color), 1);
    text-decoration-thickness: 3px;
}

.header-blank {
    width: 40px;
    height: 40px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(var(--primary-color), 1);
    width: 40px;
    height: 40px;
    border-radius: 6px;
    transition: all 0.4s;

    i {
        color: rgba(var(--primary-color), 1);
    }
}

.header-search:hover {
    width: 100px;
}

.product-section {
    width: 100%;
    margin: 3vh 0;
}

.product-section p {
    display: flex;
    align-items: center;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-left: 4px solid rgba(var(--primary-color), 1);
    padding-left: 0.5vw;
}

.product-list {
    display: flex;
}

.product-card {
    display: flex;
    flex-direction: column;
    background: white;
    flex: 0 0 calc(25% - 1rem);
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;

    .product-category {
        color: rgba(0, 0, 0, 0.5);
    }

    .product-title {
        font-size: 1.1rem;
    }

    .product-price {
        font-size: 1.1rem;
        color: rgba(var(--primary-color), 1);
    }
}

.product-card img {
    max-width: 100%; /* Ensure images are responsive */
}

.product-card:hover {
    scale: 1.02;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Custom Bootstrap Style */
.col-3 {
    width: 24% !important;
}
