@font-face {
    font-family: iosFont;
    src: url("../font/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF");
}

:root {
    --primary-color: 232, 123, 47;
    --dark-color: 81, 76, 67;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    /* background: rgba(var(--primary-color), 0.5); */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar-section {
    transition: all 0.3s;
}

.navbar-section.scrolled {
    background: rgba(var(--primary-color), 1);

    .navbar-item a {
        color: white;
    }
}

.navbar-logo {
    padding: 8px;
    /* background: rgba(var(--primary-color), 1); */
    border-radius: 8px;
}

.navbar-logo img {
    width: 10rem;
}

.navbar-navigation {
    display: flex;
    align-items: center;
    /* height: vh; */
}

.navbar-navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;

    li {
        display: flex;
        justify-content: center;
        width: 100px;
        /* background: rgba(0, 0, 255, 0.3); */
    }
}

.navbar-item a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(var(--primary-color), 1);
    font-size: 1rem;
    transition: all 0.3s;
}

.store.container {
    padding-top: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-title p {
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(var(--primary-color), 1);
    text-decoration-thickness: 3px;
}

.header-blank {
    width: 40px;
    height: 40px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(var(--primary-color), 1);
    width: 40px;
    height: 40px;
    border-radius: 6px;

    i {
        color: rgba(var(--primary-color), 1);
    }
}

.product-section {
    width: 100%;
    margin: 3vh 0;
}

.product-section p {
    display: flex;
    align-items: center;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-left: 4px solid rgba(var(--primary-color), 1);
    padding-left: 0.5vw;
}

.product-list {
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}

.product-card {
    display: flex;
    flex-direction: column;
    background: white;
    flex: 0 0 calc(25% - 1rem);
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;

    .product-category {
        color: rgba(0, 0, 0, 0.5);
    }

    .product-title {
        font-size: 1.1rem;
    }

    .product-price {
        font-size: 1.1rem;
        color: rgba(var(--primary-color), 1);
    }
}

.product-card img {
    max-width: 100%; /* Ensure images are responsive */
}

.product-card:hover {
    scale: 1.02;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.footer-section {
    padding: 8vh 0;
    background: rgba(var(--dark-color), 1);
    /* margin-top: 3vh; */
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 4vh;
}

.footer-about {
    display: flex;

    span {
        font-size: 1.15rem;
        color: rgba(255, 255, 255, 0.5);

        strong {
            color: rgba(var(--primary-color), 1);
        }
    }
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    .social-item {
        display: flex;
        align-items: center;
        gap: 1vw;

        i {
            color: rgba(var(--primary-color), 1);
            cursor: pointer;
        }

        span {
            font-size: 1.15rem;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            transition: all 0.2s;
        }
    }
}
.social-item span:hover {
    color: rgba(var(--primary-color), 1);
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3vh;

    span {
        font-size: 1.15rem;
        text-align: right;
        color: rgba(255, 255, 255, 0.5);

        strong {
            color: rgba(var(--primary-color), 1);
        }
    }

    .input-newsletter {
        display: flex;
        border: 2px solid rgba(var(--primary-color), 1);
        border-radius: 8px;

        input {
            padding: 1.5vh 1vw;
            padding-right: 0;
            border-radius: 8px;
            width: 250px;
            height: 100%;
            background: rgba(var(--dark-color), 1);
            border: none;
            outline: none;
            color: rgba(var(--primary-color), 1);
        }

        input::placeholder {
            color: rgba(var(--primary-color), 0.5);
        }

        input:focus {
            border: none;
            outline: none;
        }

        button {
            background: none;
            border: none;
            color: rgba(var(--primary-color), 1);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }
    }
}

.footer-copyright {
    span {
        color: rgba(255, 255, 255, 0.5);

        strong {
            color: rgba(var(--primary-color), 1);
        }
    }
}
